<p id="notice"><%= notice %></p>

<h1>Listing Data</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Rainfall</th>
      <th>Temperature</th>
      <th>Wind dir</th>
      <th>Wind speed</th>
      <th>Observed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |datum| %>
      <tr>
        <td><%= datum.location_id %></td>
        <td><%= datum.rainfall %></td>
        <td><%= datum.temperature %></td>
        <td><%= datum.wind_dir %></td>
        <td><%= datum.wind_speed %></td>
        <td><%= datum.observed %></td>
        <td><%= link_to 'Show', datum %></td>
        <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
        <td><%= link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datum', new_datum_path %>
