<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>

<p>Current date: <%= @cur_date[:date] %></p>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Last update</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.location_id %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= Time.at(location.last_update).strftime("%H:%M%P %d-%m-%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
